pandas>=2.0.0
numpy>=1.24.0
soundfile>=0.12.1
google-generativeai>=0.3.0
groq>=0.4.0

# VERY-VERY HEAVY dependencies (UNCOMMENT IF NEEDED)
# whisperx>=3.1.1
# torch>=2.0.0
# torchaudio>=2.0.0

# NOT must / OPTIONAL be installed separately for any specific platform
# - ffmpeg (will be deleted and replaced, once I figure out easier way to extract audio :/) 

### Bundle Lib for ffmpeg usage
imageio-ffmpeg

# .env file REQUIRED for LLM API usage
# GROQ_API_KEY = "your_groq_api_key_here"
# GOOGLE_API_KEY = "your_google_api_key_here"
